* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url("image2.webp");
	background-repeat: no-repeat;
	background-size: cover;
}

.form-container {
	background-color: rgba(157, 160, 177, 0.8);
	padding: 20px;
	margin: 50px auto;
	width: 500px;
	border-radius: 10px;
}
.text-danger {
    color: red;
  }

h2 {
	text-align: center;
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	background-color: #f2f2f2;
}

select {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	background-color: #f2f2f2;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}

textarea {
	resize: none;
}